<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Demo-Guest</title>
</h:head>

<h:body>
	<h:form >
		<h:commandButton value="login"  action="/ui/index?faces-redirect=true" />
	</h:form>
</h:body>

</html>
